body{
    color: #fff;
    text-align: center;
    height:100%;
    background: greenyellow;
}

#content{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows: 400px;
}

#content div{
    padding:10px;
}

.nav-bar{
    background: #1d1d1d;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 10vh;
}
img{
    width: 100%;
    height: 400px;
}

#modal{
    display: none;
    position: absolute;
    top: 102px;
    left: 38%;
    border: 2px solid black;
    height: 100px;
    width: 321px;
    background: wheat;
}
#modal button{
    background: black;
    color: white;
}